<app-navbar></app-navbar>
<div class="container-xxl">
    <h1 style="text-align: center;">Nuevo <small>Estudiante</small></h1>

    <div class="row mt-5">
        <div class="col-md-2 offset-md-8">
            <button routerLink="/estudiantes" class="btn btn-outline-danger btn-lg"><i class="fas fa-undo-alt "></i> Regresar</button>
        </div>
    </div>


    <div class="row mt-1 animated fadeIn align-items-center justify-content-lg-center">
        <div class="col-sm-7 shadow-lg p-3 mb-5 bg-light rounded">
            <form autocomplete="off" (submit)="Guardar(Nombre, Apellido, Codigo, FechaNacimiento)">
                <div class="card" style="width: 13rem">
                    <img [src]="photoSelected || '../../../../assets/img/NO_IMAGE.png'" (click)="InputImages.click()" class="card-img-top">
                    <div class="card-body">
                        <h6 class="card-title">Estudiante</h6>
                        <div class="mb-1">
                            <!-- formControlName="ImagenEstudiante"  formControlName="IdEstudiante" -->
                            <input class="form-control form-control-sm" name="ImagenEstudianteDto" id="formFileSm" (change)="CapturarFile($event)" [class.is-invalid]="ImagenEstudianteDto.invalid && ImagenEstudianteDto.touched" [(ngModel)]="estudianteC.urlImagenEstudiante" #ImagenEstudianteDto="ngModel"
                                type="file" #InputImages>
                        </div>
                    </div>
                </div>
                <div class="mb-3 mt-3">
                    <label class="form-label ">AutoGenerate ID</label>
                    <input type="text" name="IdEstudiante" [attr.disabled]="true" class="form-control">
                    <small class="form-text text-muted ">Campo Generado Automáticamente Por el Servidor</small>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <label class="form-label">Nombre(s)</label>
                        <!-- [class.is-invalid]="nombreNoValido" -->
                        <input type="text" name="Nombre" class="form-control" placeholder="Nombre(s)" aria-label="First name" [class.is-invalid]="Nombre.invalid && Nombre.touched" required minlength="4" [(ngModel)]="estudianteC.nombre" #Nombre="ngModel">
                        <div *ngIf="Nombre.invalid && Nombre.touched" class="invalid-feedback">Ingresa Un Nombre Con Más De 3 Carácteres</div>
                    </div>
                    <div class="col">
                        <label class="form-label">Apellidos</label>
                        <input type="text" name="Apellido" class="form-control" placeholder="Apellido Paterno & Apellido Materno" aria-label="Last name" [class.is-invalid]="Apellido.invalid && Apellido.touched" required minlength="6" [(ngModel)]="estudianteC.apellido" #Apellido="ngModel">
                        <div *ngIf="Apellido.invalid && Apellido.touched" class="invalid-feedback">Ingresa Los Apllidos Con Más De 5 Carácteres</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Nombre Completo</label>
                    <input type="text" class="form-control" disabled="disabled">
                    <small class="form-text text-muted ">Campo Generado Automáticamente Por el Servidor</small>
                </div>
                <div class="row g-3">
                    <div class="col">
                        <label class="form-label">Código</label>
                        <input type="text" class="form-control" placeholder="Código del estudiante" aria-label="First name" name="Codigo" [class.is-invalid]="Codigo.invalid && Codigo.touched" required minlength="8" maxlength="8" [(ngModel)]="estudianteC.codigo" #Codigo="ngModel">
                        <div *ngIf="Codigo.invalid && Codigo.touched" class="invalid-feedback">Ingresa Un Código Con Mínimo 8 Carácteres y Máximo 8 Carácteres</div>
                    </div>
                    <div class="col">
                        <label class="form-label">Fecha de Nacimiento</label>
                        <input type="date" class="form-control" placeholder="Fecha de nacimiento del estudiante" aria-label="Last name" name="FechaNacimiento" [class.is-invalid]="FechaNacimiento.invalid && FechaNacimiento.touched" required [(ngModel)]="estudianteC.fechaNacimiento"
                            #FechaNacimiento="ngModel">
                        <div *ngIf="FechaNacimiento.invalid && FechaNacimiento.touched" class="invalid-feedback">Este Campo Es Obligatorio Y Con El Formato "dd/mm/aaaa"</div>
                    </div>
                </div>


                <hr style="border: 2px solid #0275d8; ">
                <div class="d-grid gap-2">
                    <button type="submit " class="btn btn-outline-primary"><i class="far fa-save "></i> Guardar</button>
                </div>

            </form>
        </div>
    </div>
</div>