<app-navbar></app-navbar>
<div class="container-xxl">
    <h1 style="text-align: center;">Estudiante <small>{{estudianteShow.nombreCompleto}}</small></h1>

    <div class="row mt-5">
        <div class="col-md-2 offset-md-8">
            <button routerLink="/estudiantes" type="button" class="btn btn-outline-danger btn-lg"><i class="fas fa-undo-alt "></i> Regresar</button>
        </div>
    </div>
    <div class="row mt-1 animated fadeIn align-items-center justify-content-lg-center">
        <div class="col-sm-7 shadow-lg p-3 mb-5 bg-light rounded">
            <form autocomplete="off" [formGroup]="formEstudiantShow">
                <div class="card" style="width: 13rem;">
                    <img [src]="estudianteShow.urlImagenEstudiante || '../../../../assets/img/NO_IMAGE.png'" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">{{estudianteShow.nombreCompleto}}</h6>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label ">AutoGenerate ID</label>
                    <input type="text" name="id" class="form-control" formControlName="id" [attr.disabled]="true">
                    <small class="form-text text-muted ">Campo Generado Automáticamente Por el Servidor</small>
                </div>
                <div class="mb-3">
                    <label class="form-label">Nombre Completo</label>
                    <input type="text" name="NombreCom" class="form-control" formControlName="nombreCom" [attr.disabled]="true">
                </div>
                <div class="row g-3">
                    <div class="col">
                        <label class="form-label">Código</label>
                        <input type="text" name="codigo" class="form-control" formControlName="codigo" [attr.disabled]="true">
                    </div>
                    <div class="col">
                        <label class="form-label">Fecha de Nacimiento</label>
                        <input type="text" name="fechaNa" class="form-control" [value]="formEstudiantShow.get('fechaNa').value | date: 'longDate'" formControlName="fechaNa" [attr.disabled]="true">
                    </div>
                </div>
                <div class="mt-3">
                    <h5>Periodo y año de Matricula</h5>
                </div>
                    <button [disabled]="estudianteInsc.length > 0" class="mr-5 btn btn-secondary" (click)="Matricular()" data-bs-toggle="modal" href="#exampleModalToggle" role="button"><i class="fas fa-plus"></i> Matricular Estudiante</button><i class="space"> a</i>
                    <button class="mr-5 btn btn-secondary" data-bs-toggle="modal" href="#exampleModalToggle2" role="button"><i class="fas fa-clipboard-check"></i> Activar Periodo</button>
                <table class="table table-secondary table-hover mt-1">
                    <thead>
                        <tr>
                            <th scope="col">ID Perido</th>
                            <th scope="col">Año de Matriculación</th>
                            <th scope="col">Eliminar Matricula</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="estudianteInsc.length <= 0">
                        <tr>
                            <td>**Sin Matricular</td>
                            <td>**Sin Matricular</td>
                            <td>**Sin Matricular</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="estudianteInsc.length > 0">
                        <tr *ngFor="let item of estudianteInsc">
                            <td>{{ item.idPeriodo }}</td>
                            <td>{{ item.anioPeriodo | date: 'longDate'}}</td>
                            <td>
                                <button type="button" class="btn btn-outline-danger" (click)="EliminarInsc(item.idPeriodo, estudianteShow.idEstudiante)"><i class="far fa-clipboard"></i> Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-3">
                    <h5>Lista de Inscripción a Cursos</h5>
                </div>
                <button class="btn btn-warning mt-3" data-bs-toggle="modal" data-bs-target="#staticBackdropModal"><i class="fas fa-plus"></i> Inscribir Estudiante</button>
                <table class="table table-warning table-hover mt-1">
                    <thead>
                        <tr>
                            <th scope="col">Código de la Materia</th>
                            <th scope="col">Año de Inscripción</th>
                            <th scope="col">Nombre de la Materia</th>
                            <th scope="col">Eliminar Inscripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of estudianteMat">
                            <th scope="col">{{item.codigo}}</th>
                            <td>{{item.anio}}</td>
                            <td>{{item.descripcion}}</td>
                            <td>
                                <button type="button" class="btn btn-outline-danger" *ngFor="let i of estudianteInsc" (click)="EliminarInscripcion(i.idPeriodo, estudianteShow.idEstudiante, item.codigo)"><i class="far fa-clipboard"></i> Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">Matricular Estudiante</h5>
                    <button type="button" #closeModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off" [formGroup]="formMatEstudiant" (ngSubmit)="guardar()">
                        <div class="row g-3">
                            <div class="col">
                                <label class="form-label">ID Estudiante</label>
                                <input type="text" name="idestudiante" class="form-control" placeholder="ID del estudiante" aria-label="First name" formControlName="idEstudiante" [class]="isValidForm('idEstudiante')">
                                <div class="invalid-feedback"><span *ngIf="formMatEstudiant.get('idEstudiante').errors?.required">Este campo es obligatorio.</span></div>
                                <div class="invalid-feedback"><span *ngIf="formMatEstudiant.get('idEstudiante').errors?.minlength">Minímo {{ formMatEstudiant.get('id').errors?.minlength?.requiredLength }} Carácteres.</span></div>
                            </div>
                            <div class="col">
                                <label for="inputState" class="form-label">ID Periodo</label>
                                <select id="inputState" class="form-select" name="idPeriodo" formControlName="idPeriodo" [class]="isValidForm('idPeriodo')">
                                    <option  selected>Elige una opción ...</option>
                                    <option *ngFor="let item of periodoActv|objectData">{{item}}</option>
                                </select>
                                <div class="invalid-feedback"><span *ngIf="formMatEstudiant.get('idPeriodo').errors?.required">Este campo es obligatorio.</span></div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <span><strong>¿No aparece el periodo deseado? </strong><a class="link-success" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal"> ¡Activalo aquí! <i class="fas fa-long-arrow-alt-right"></i></a></span>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">Activar Periodo</h5>
                    <button type="button" class="btn-close" data-bs-target="#" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off" (ngSubmit)="activarPeriodo(formu)" #formu="ngForm">
                        <label for="inputState" class="form-label">Lista de periodos disponibles</label>
                        <select class="form-select" aria-label="Default select example" name="activarP" [(ngModel)]="periodos.idPeriodo" #activarP="ngModel">
                            <option select>Elige una opción ...</option>
                            <option *ngFor="let item of periodos|objectData">{{item.idPeriodo}}</option>
                          </select>
                        <div class="mt-3">
                            <span><strong>¿Desea agregar un nuevo periodo? </strong><a class="link-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" data-bs-dismiss="modal" (click)="Matricular()"> ¡Agregalo aquí! <i class="fas fa-long-arrow-alt-right"></i></a></span>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Activar</button>
                            <button class="btn btn-warning" data-bs-target="#closeModal" (click)="modalClose()" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-dismiss="modal">Regresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->

    <div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-fullscreen-xxl-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">Agregar Nuevo Periodo</h5>
                    <button type="button" class="btn-close" data-bs-target="#" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off" autocomplete="off" [formGroup]="formNuevoPeriodo" (ngSubmit)="GuardarNuevoPeriodo()">
                        <div class="row">
                            <div class="col">
                                <label class="form-label">ID Periodo</label>
                                <input type="text" class="form-control" placeholder="P.ej. 1018" aria-label="First name" formControlName="IdPeriodo" [class]="isValidFormNPeriodo('IdPeriodo')">
                                <div class="invalid-feedback"><span *ngIf="formNuevoPeriodo.get('IdPeriodo').errors?.required">Este campo es obligatorio.</span></div>
                                <div class="invalid-feedback"><span *ngIf="formNuevoPeriodo.get('IdPeriodo').errors?.minlength">Minímo {{ formNuevoPeriodo.get('IdPeriodo').errors?.minlength?.requiredLength }} Carácteres.</span></div>
                                <div class="invalid-feedback"><span *ngIf="formNuevoPeriodo.get('IdPeriodo').errors?.maxlength">Maxímo {{ formNuevoPeriodo.get('IdPeriodo').errors?.maxlength?.requiredLength }} Carácteres.</span></div>
                            </div>
                            <div class="col">
                                <label class="form-label">Año de apertura</label>
                                <input type="text" class="form-control" placeholder="P.ej. 2018" aria-label="Last name" formControlName="Anio" [class]="isValidFormNPeriodo('Anio')">
                                <div class="invalid-feedback"><span *ngIf="formNuevoPeriodo.get('Anio').errors?.required">Este campo es obligatorio.</span></div>
                                <div class="invalid-feedback"><span *ngIf="formNuevoPeriodo.get('Anio').errors?.minlength">Minímo {{ formNuevoPeriodo.get('Anio').errors?.minlength?.requiredLength }} Carácteres.</span></div>
                                <div class="invalid-feedback"><span *ngIf="formNuevoPeriodo.get('Anio').errors?.maxlength">Maxímo {{ formNuevoPeriodo.get('Anio').errors?.maxlength?.requiredLength }} Carácteres.</span></div>
                            </div>
                            <div class="col">
                                <label class="form-label">Estado</label>
                                <div class="form-check form-switch mt-2">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" formControlName="Estado" [class]="isValidFormNPeriodo('Estado')">
                                    <div class="invalid-feedback"><span *ngIf="formNuevoPeriodo.get('Estado').errors?.required">Este campo es obligatorio.</span></div>
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Inactivo / Activo</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Agregar Periodo</button>
                            <button class="btn btn-warning" data-bs-target="#closeModal" (click)="modalClose()" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-dismiss="modal">Regresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="staticBackdropModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Inscribir Estudiante</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row g-3" autocomplete="off" [formGroup]="formInscripcion" (ngSubmit)="InscribirNuevo()">
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">ID Periodo</label>
                            <select class="form-select" aria-label="Default select example" formControlName="idPe" [class]="isValidFormInscripcion('idPe')">
                                <option selected>Elige un periodo</option>
                                <option *ngFor="let item of periodos|objectData">{{item.idPeriodo}}</option>
                              </select>
                            <div class="invalid-feedback"><span *ngIf="formInscripcion.get('idPe').errors?.required">Este campo es obligatorio.</span></div>
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">ID Estudiante</label>
                            <input type="text" class="form-control" placeholder="1234 Main St" formControlName="idEst" [class]="isValidFormInscripcion('idEst')">
                            <div class="invalid-feedback"><span *ngIf="formInscripcion.get('idEst').errors?.required">Este campo es obligatorio.</span></div>
                            <div class="invalid-feedback"><span *ngIf="formInscripcion.get('idEst').errors?.minlength">Minímo {{ formInscripcion.get('idEst').errors?.minlength?.requiredLength }} Carácteres.</span></div>
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Código de la Materia</label>
                            <select class="form-select" aria-label="Default select example" formControlName="codigoMat" [class]="isValidFormInscripcion('codigoMat')">
                                <option selected value="">Elige una materia</option>
                                <option value="{{item.codigo}}" *ngFor="let item of inscribir|objectData">{{item.codigo}} - {{item.descripcion}}</option>
                              </select>
                            <div class="invalid-feedback"><span *ngIf="formInscripcion.get('codigoMat').errors?.required">Este campo es obligatorio.</span></div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-primary">Inscribir</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>