<div class="container w-100 BG mb-1 mt-1 rounded shadow">
    <div class="row align-items-stretch animated fadeIn">
        <div class="col Bg-Img d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded-3">

        </div>
        <div class="col bg-white p-2 rounded-end">
            <div class="text-end">
                <img src="../../../assets/img/neutron.svg" width="48" alt="">
            </div>

            <h2 class="fw-bold pt-3 mb-2 text-center">Nuevo Registro</h2>

            <form class="mt-3" autocomplete="off" [formGroup]="FormRegister" (ngSubmit)="OnRegister()">
                <div class="form-floating mb-4">
                    <input type="text" class="form-control rounded-pill border border-success is-invalid" id="floatingInput0" placeholder="Nombre de Usuario" formControlName="userName" [class.is-invalid]="UsuarioInvalid">
                    <label for="floatingInput0">Nombre de Usuario</label>
                    <small *ngIf="UsuarioInvalid" class="form-text text-danger">Ingresa más de 4 cáracteres.</small>
                </div>
                <div class="form-floating mb-4">
                    <input type="email" class="form-control rounded-pill border border-success is-invalid" id="floatingInput" placeholder="example@abc.co" formControlName="email" [class.is-invalid]="EmailInvalid">
                    <label for="floatingInput">Correo Electrónico</label>
                    <small *ngIf="EmailInvalid" class="form-text text-danger">Ingresa Un Correo Electónico Valido.</small>
                </div>
                <div class="form-floating mb-4">
                    <input type="password" class="form-control rounded-pill border border-success is-invalid" id="floatingInput2" placeholder="Ingresa tu contraseña" formControlName="password" [class.is-invalid]="PassInvalid">
                    <label for="floatingInput2">Contraseña</label>
                    <small *ngIf="PassInvalid" class="form-text text-danger">Ingresa más de 4 cáracteres.</small>
                </div>
                <div class="d-grid">
                    <button [disabled]="FormRegister.invalid" type="submit" class="btn btn-outline-success" name="button">Registrarme</button>
                </div>
                <div class="my-4">
                    <span><strong>¿Ya Estás Registrado? </strong><a routerLink="/login" class="link-success"> ¡Inicia Sesión Aquí! <i class="fas fa-long-arrow-alt-right"> </i></a></span>
                </div>
            </form>
            <!-- Inicio de sesión con redes sociales -->
            <div class="container w-100 my-5">
                <div class="row text-center">
                    <div class="col-12">
                        <h4>Inicia Sesión Con Plataformas Sociales</h4>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col">
                        <ul class="social-content align-items-center">
                            <li (click)="RedesSocialesProxim()"><img src="../../../assets/img/facebook.png"></li>
                            <li (click)="RedesSocialesProxim()"><img src="../../../assets/img/twitter.png"></li>
                            <li (click)="RedesSocialesProxim()"><img src="../../../assets/img/instagram.png"></li>
                            <li (click)="RedesSocialesProxim()"><img src="../../../assets/img/telegram.png"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>